{% extends 'base.html' %}

{% block content %}
    <header class="banner">
        <h1 class="header-text">"Tell me something good..."</h1>
    </header>

    <h1>Hi {{ current_user.username }}</h1>
    <!-- jengo is python based. so everytime we use squigly with percent, it allows us to do some python -->
    {% if current_user.is_authenticated %}
        {% for post in user_posts %}
            <div class="container">
                <h3>
                    <a href="{{ url_for('post_detail', post_id = post.id) }}">{{ post.title }}</a>
                </h3>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    {% else %}
    <h2>Please register and login to see posts.</h2>

    {% endif %}
{% endblock content %}